@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to my Demo site</h1>
        <p>I'm learning about building Web apps with ASP.NET Core</p>
        <p>I'll be adding additional UI and data access functionality..</p>
    </div>
